body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../商场页面_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:214px;
    height:377px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:383px;
}

.u1 {
    position:absolute;
    left:2px;
    top:180px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../商场页面_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:214px;
    height:377px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:214px;
    height:377px;
}

.u3 {
    position:absolute;
    left:2px;
    top:180px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

