body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../微信公众号页_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:240px;
    height:320px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:326px;
}

.u1 {
    position:absolute;
    left:2px;
    top:152px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_menu {
    background-image: url('../微信公众号页_files/u2_menu.png');
}

.u2_menu {
    position:absolute;
    left:7px;
    top:301px;
    width:247px;
    height:35px;
}

#u2_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:244px;
    height:32px;
}

#u3 {
    position:absolute;
    left:3px;
    top:3px;
    width:237px;
    height:25px
}

.u4_normal {
    background-image: url('../微信公众号页_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:26px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../微信公众号页_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:79px;
    top:0px;
    width:73px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../微信公众号页_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:152px;
    top:0px;
    width:80px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_menu {
    background-image: url('../微信公众号页_files/u10_menu.png');
}

.u10_menu {
    position:absolute;
    left:152px;
    top:20px;
    width:115px;
    height:95px;
}

#u10_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:92px;
}

#u11 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:85px
}

.u12_normal {
    background-image: url('../微信公众号页_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../微信公众号页_files/u12_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../微信公众号页_files/u12_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../微信公众号页_files/u12_normal.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:60px;
    width:100px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

